@{
    ViewData["Title"] = "Créditos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="Credits">
    <div class="credits-container">
        <h1>Créditos</h1>
        <div class="team-member">
            <div class="team-photo-container">
                <img src="~/img/Felipe.jpg" alt="Felipe Otero" class="team-photo">
            </div>
            <h2>Felipe Otero</h2>
            <p>Desarrollador Principal</p>
        </div>
        <div class="team-member">
            <div class="team-photo-container">
                <img src="~/img/alon.jpg" alt="Alon Kanter" class="team-photo">
            </div>
            <h2>Alon Kanter</h2>
            <p>Desarrollador de Frontend</p>
        </div>
    </div>
</body>