@{
    ViewData["Title"] = "Habitación 2";
    string nombreJugador = ViewBag.NombreJugador as string;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="Habitacion">
        <div class="habitacion-container">
            <h2>Identificación del Avión</h2>
            <p>@nombreJugador, Has descubierto que el avión es de color amarillo. Ahora necesitas el código de la aerolínea. Dinos el nombre de la Aerolinea, en alfabeto aeronautico. A esta Aerolinea, en español, la llaman el eSPIRITu de los cielos..</p>
            
            <!-- Elementos Multimedia -->
            <div class="multimedia">
                <img src="~/img/avion_amarillo.jpeg" alt="Avión amarillo" class="multimedia-element">
            </div>
            
            <!-- Formulario para descifrar la clave -->
            <form method="post" action="@Url.Action("Habitacion", "Home", new { sala = 3 })" autocomplete="off">
                <input type="text" name="clave" placeholder="Ingresa el nombre de la aerolínea en alfabeto aeronáutico" required autocomplete="off">
                <button type="submit">VALIDAR</button>
            </form>

            @if (ViewBag.Error != null)
            {
                <div class="error">
                    <p>@ViewBag.Error</p>
                </div>
            }

            <!-- Botones de pistas -->
            <div class="pistas">
                <button type="button" onclick="usarPista(3, 1)">Pista 1</button>
                <button type="button" onclick="usarPista(3, 2)">Pista 2</button>
            </div>

            <div id="pista1" class="pista-content">
                <p>Es una aerolínea low cost estadounidense.</p>
                <img class="Pista" src="~/img/Alfabeto_Aeronautico_Pista.jpeg" alt="Alfabeto Aeronáutico">
            </div>

            <div id="pista2" class="pista-content">
                <p>La aerolínea se llama Espiritu, traducido al Ingles.</p>
            </div>
        </div>
    </div>

    <script>
        function usarPista(sala, pista) {
            fetch(`@Url.Action("UsarPista", "Home")?sala=${sala}&pista=${pista}`, {
                method: 'POST'
            }).then(() => {
                if (pista === 1) {
                    mostrarPista1();
                } else {
                    mostrarPista2();
                }
            });
        }

        function mostrarPista1() {
            var pista1 = document.getElementById('pista1');
            pista1.style.display = pista1.style.display === 'block' ? 'none' : 'block';
        }

        function mostrarPista2() {
            var pista2 = document.getElementById('pista2');
            pista2.style.display = pista2.style.display === 'block' ? 'none' : 'block';
        }
    </script>
</body>
</html>
