@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="Landing">
    <div class="content-container">
        <h1>Namaltofa</h1>
        <a class="btn btn-primary-custom" href="@Url.Action("Comenzar", "Home")">Comenzar</a>
        <a class="btn btn-secondary-custom" href="@Url.Action("Tutorial", "Home")">Tutorial</a>
        <a class="btn btn-default-custom" href="@Url.Action("Creditos", "Home")">Creditos</a>
    </div>
</body>