<h1>Escape en el Aeropuerto</h1>

        <section>
            <h2>Breve Reseña</h2>
            <p>En "Escape en el Aeropuerto", eres parte de un equipo de pilotos y personal de aviación que debe resolver una serie de enigmas textuales para encontrar y activar el código de despegue antes de que se acabe el tiempo. Tienes 60 minutos para completar la misión y asegurar el despegue del vuelo antes de que ocurra una catástrofe.</p>
        </section>

        <section>
            <h2>Imágenes de las Distintas Escenas del Juego</h2>
            <div class="game-images">
                <div class="game-image">
                    <img src="~/images/escena_introduccion.jpg" alt="Introducción">
                    <p>Introducción</p>
                </div>
                <div class="game-image">
                    <img src="~/images/escena_codigo-morse.jpg" alt="Enigma Código Morse">
                    <p>Enigma Código Morse</p>
                </div>
                <div class="game-image">
                    <img src="~/images/escena_mapa-ruta.jpg" alt="Enigma Ruta Aérea">
                    <p>Enigma Ruta Aérea</p>
                </div>
                <div class="game-image">
                    <img src="~/images/escena_sudoku.jpg" alt="Enigma Sudoku de Códigos de Vuelo">
                    <p>Enigma Sudoku de Códigos de Vuelo</p>
                </div>
                <div class="game-image">
                    <img src="~/images/escena_tiempos-despegue.jpg" alt="Enigma Tiempos de Despegue y Aterrizaje">
                    <p>Enigma Tiempos de Despegue y Aterrizaje</p>
                </div>
                <div class="game-image">
                    <img src="~/images/escena_secuencia-colores.jpg" alt="Enigma Secuencia de Colores">
                    <p>Enigma Secuencia de Colores</p>
                </div>
                <div class="game-image">
                    <img src="~/images/escena_desafio-matematico.jpg" alt="Enigma Acertijo Matemático">
                    <p>Enigma Acertijo Matemático</p>
                </div>
            </div>
        </section>