@{
    ViewData["Title"] = "Victoria";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="Habitacion">
        <div class="habitacion-container">
            <h2>¡Felicidades!</h2>
            <p>¡Has resuelto todos los acertijos y asegurado el despegue del vuelo! ¡Buen trabajo, equipo!</p>
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary-custom" onclick="resetTimer()">Volver al Inicio</a>
        </div>
    </div>

    <script>
        // Function to reset the timer
        function resetTimer() {
            localStorage.removeItem('timeLeft');
        }
    </script>
</body>
</html>
